/* Global CSS */
:root {
    --admin-main-color: #31506E;
    --admin-heading-color: #212121;
    --admin-bg-color: #f9f9f9;
    --admin-white-color: #ffffff;
    --admin-black-color: #000000;
    --admin-black-color-2: #212121;
    --admin-text-color-1: #2e2d2d;
    --admin-text-color-2: #ffffff;
    --admin-border-color-1: #EEEEEE;
    --admin-alert-success: #4CD585;
    --admin-alert-error: #e42f2f;
    --admin-login-button: #ffffff;
    --admin-login-button-bg: #212121;
    --admin-login-button-hover: #212121;
    --admin-login-button-bg-hover: #f9f9f9;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 36px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
h6{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
p{
    color: var(--theme-text-color-1);
    font-size: 16px;
    font-family: 'Poppins', sans-serif; 
}
a{
    text-decoration: none;
}
.img-fluid{
    max-width: 100%;
}
.alert{
    padding: 10px;
    border-radius: 5px;
}
.alert-success{
    color: var(--admin-white-color);
    background: var(--admin-alert-success);
}
.alert-error{
    color: var(--admin-white-color);
    background: var(--admin-alert-error);
}
.info-note{
    color: var(--admin-text-color-1);
    font-size: 12px;
    padding: 10px;
}

/* Form Global CSS */
.form-group{
    margin-bottom: 10px;
}
.form-label{
    display: block;
    padding: 7px 0px;
}
.form-control{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--admin-border-color-1);
    border-radius: 5px;
}
.color-control{
    height: 55px;
}
.option-submit-button{
    color: var(--admin-white-color);
    background: var(--admin-main-color);
    border: 1px solid var(--admin-main-color);
    padding: 12px 40px;
    border-radius: 5px;
}


/* Admin CSS */
/* Admin Header Section */
.admin-header-section{
    background: var(--admin-white-color);
}
.admin-content{
    background: var(--admin-bg-color);
    padding: 5px 10px;
    align-items: center;
}
.admin-content .admin-logo h2{
    font-size: 25px;
    font-weight: 700;
    align-items: center;
}
.user-profile-box{
    position: relative;
    text-align: right;
}
.profile{
    text-align: right;
    position: relative;
    display: inline-block;
    right: 0;
}
.profile img{
    width: 70px;
    border: 3px solid #eeee;
    border-radius: 100%;
    padding: 3px;
    cursor: pointer;
}
.profile-details{
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 5px 30px #21212121;
    line-height: 30px;
    position: absolute;
    right: 0;
    display: none;
}
.logout-box{
    
}
.profile:hover .profile-details{
    display: block;
}
.profile-details .user-name{
    color: var(--admin-text-color-1);
    font-size: 16px;
}
.profile-details .user-email{
    color: var(--admin-text-color-1);
    font-size: 16px;
}

.theme-option-section{
    background: var(--admin-white-color);
    padding: 50px 0px;
}
.option-box{
    background: var(--admin-bg-color);
    padding: 20px;
    border-radius: 10px;
}
.option-title{
    width: 100px;
    background: var(--admin-main-color);
    padding: 10px 20px;
    margin: -20px 0px 0px -20px;
    border-radius: 10px 0px 10px 0px;
}
.option-title h5{
    color: var(--admin-text-color-2);
}


/* Login Form CSS */
.login-section{
    background: var(--admin-bg-color);
}
.login-section .row{
    height: 100vh;
    align-items: center;
}
.login-form{
    padding: 45px 35px;
    border-radius: 10px;
    border: 1px solid #eee;
    background: var(--admin-white-color);
}
.login-form-logo{
    text-align: center;
    font-weight: 700;
    margin-bottom: 35px;
}
.admin-login-button{
    color: var(--admin-login-button);
    font-size: 16px;
    background: var(--admin-login-button-bg);
    padding: 12px 10px;
    letter-spacing: 0.5px;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}
.admin-login-button:hover{
    color: var(--admin-login-button-hover);
    background: var(--admin-login-button-bg-hover);
    cursor: pointer;
}